<div class="row about -main flex-row" ><!-- Start of section -->
	<!-- Section pattern -->
 			<div class="col-xs-12 ">
				<div class="lines-container">
					<img   class="about-lines" src="../../assets/imgs/backgrounds/linespatterns/about_lines.png" alt="">
				</div> 
			</div>
	<!-- / Section pattern -->
	
	<!--Start of navigation component -->	
			<div class="col-xs-12 navi-container" >
				<app-navi></app-navi>
			</div>	
	<!-- End of navigation component-->

	<!-- Section content -->
 			<div class="col-xs-12 ">
 				<div class="quote-container"><!-- Secction Quote -->
 					<p>
 						<q>{{quote}}</q>
 						<br>
 						<small>-Mikkael Kreis.</small>
 					</p>
 				</div>
 			</div>
 			<div class="col-xs-12 footer-container">
 				<div class="about-txt bio"><!-- Bio -->
 					<h3>Mikkael Kreis</h3>
 					<p>{{bio}}</p>
 				</div>
 				<div class="kreis-logo-sm footer-container"><!-- Small logo gray -->
 					<img class="image-responsive kreis-logo-gray" src="../../assets/imgs/iconos-logos/Kreis-gry-scale-small.png" alt="">
 				</div>
 			</div>
 			<div class="col-xs-12 footer-container">	
 					<div class="about-txt philo"><!-- Philosophy -->
 						<h3>Philosophy</h3>
 							<p>{{philosophy}}</p> 						
 					</div>
 			</div>
	<!-- / Section content -->

	<!-- Section logo -->
 			<div class="col-xs-12 about-logo-container">	
				<img   class=" image-responsive KreisIndustries-iconlogo" src="../../assets/imgs/iconos-logos/HalfKreis-icon-full-color-large.png" alt="Kreis Industries">
			</div>
	<!-- / Section logo -->

	<!-- Section blur-->
		<div class="col-xs-12 ">
			<div class="blur-wrap">
				<img class="image-responsive blur blur-img" src="../../assets/imgs/backgrounds/About-industrias-Kreis-bg-rigt-d.jpg" alt="">
			</div>
		</div>
	<!-- / Section blur -->

	

	<!-- Section footer -->
			<div class="col-xs-12 footer-container">			
		      	<footer></footer>
			</div>
	<!-- / Section footer -->

</div><!--End of Section -->