<div class="row services -main flex-row">
	
		<div class="col-xs-12 navi-container">
			<app-navi></app-navi>
		</div>
	
		<div class="col-xs-12 section-title">
			<h1 >Services</h1>
			<div class="kreis-logo-sm"><!-- Small logo gray -->
 				<img class="image-responsive kreis-logo-small" src="../../assets/imgs/iconos-logos/Kreis-Logo-White.png" alt="">
 			</div>
		</div>
	
			<div class="col-xs-12 logo-container">
					<img  class="img-responsive KreisIndustries-iconlogo" src="../../assets/imgs/iconos-logos/Kreis-icon-full-color-large-right-x.png" alt="Kreis Industries">
				</div>
	
		<div class="col-xs-12 ">
			<div class="blur-wrap darken blur">
				<img src="/assets/imgs/backgrounds/Services-industrias-Kreis-botom.jpg.jpeg" alt="" class="image-responsive blur-img">
			</div>
		</div>
	
		<div class="col-xs-12">			
				<div class="lines-container">
					<img class="services-lines" src="/assets/imgs/backgrounds/linespatterns/services_lines.png" alt="services_lines.png">
				</div>
		</div>
	
			<div class="col-xs-12 footer-container">
				<footer></footer>
			</div>	
	
		<div class="col-xs-12 content-bg">
			<div class="service">
					<h3 >Architecture</h3>
					<p>We are a buffet of architecture specialized in projects like beach houses and restoration of buildings and historic monuments.</p>
				<div class="architecture" >
				</div>
			</div>
			<div class="service">
				<div class="forniture-iterior-design" >
						<h3 >Furniture & Interior Design</h3>
						<p>We specialized in high end residential and hotels projects, providing support to architects and interior designers through the production of exclusive pieces and projects.</p>
				</div>
			</div>
			<div class="service">
				<div class="visual-arts" >
						<h3>Visual Arts</h3>
						<p>We create artistic pieces like; paintings, sculptures, engravings and photographs to complement the esthetic and perfection of each space.</p>
				</div>
			</div>
		</div>

	

</div>
