<div class="row contact -main flex-row "><!-- Start of section -->

	<!-- Section blur-->
		<div class="col-xs-12 ">
			<!-- <div class="blur-wrap darken blur">
				<img class="image-responsive blur-img" src="../../assets/imgs/backgrounds/Kreis-workshop1-top.jpg" alt="" visible="false">
			</div> -->
		</div>
	<!-- / Section blur -->

	<!-- Section pattern -->
		<div class="col-xs-12 flex-xl-first">			
			<!-- <div class="lines-container">
				<img class="welcome-lines" src="../../assets/imgs/backgrounds/linespatterns/welcome_lines.png" alt="welcome_lines.png">
			</div> -->
		</div>
	<!-- / Section pattern -->

	<!--Start of navigation component -->
		<div class="col-xs-12 navi-container">
			<app-navi></app-navi>
		</div>
	<!-- End of navigation component-->

	<!-- Section title -->
		<div class="col-xs-12 section-title">
			<h1 >Contact</h1>
		</div>
	<!-- / Section title -->

	<!-- Section logo -->
			<!-- <div class="col-xs-12 logo-container">
					<img  class="img-responsive KreisIndustries-logo" src="../../assets/imgs/iconos-logos/Kreis-logo-full-color-Large.png" alt="Kreis Industries">
				</div> -->
	<!-- / Section logo -->

			
	<!-- Section footer -->
			<div class="col-xs-12 footer-container">
				<footer></footer>
			</div>	
	<!-- / Section footer -->

</div><!--End of Section -->