<div class="row gallery -main flex-row"><!-- Start of section -->

	<!-- Section blur-->
		<div class="col-xs-12 ">
<!-- 			<div class="blur-wrap darken blur">
				<img class="image-responsive blur-img" src="../../assets/imgs/backgrounds/services_lines.png" alt="" visible="false">
			</div> -->
		</div>
	<!-- / Section blur -->

	<!-- Section pattern -->
		<div class="col-xs-12"><!-- 			
				<div class="lines-container">
					<img class="welcome-lines" src="../../assets/imgs/backgrounds/linespatterns/services_lines.png" alt="services_lines.png">
				</div> -->
		</div>
	<!-- / Section pattern -->

	<!--Start of navigation component -->
		<div class="col-xs-12 navi-container">
			<app-navi></app-navi>
		</div>
	<!-- End of navigation component-->

	<!-- Section title -->
		<div class="col-xs-12 section-title">
			<h1 >Brands</h1>
		</div>
	<!-- / Section title -->

	<!-- Section logo -->
			<div class="col-xs-12 logo-container">
					<img  class="img-responsive " src="../../assets/imgs/backgrounds/brands.jpg" alt="Kreis Industries">
				</div>
	<!-- / Section logo -->

	<!-- Section footer -->
			<div class="col-xs-12 footer-container">
				<footer></footer>
			</div>	
	<!-- / Section footer -->

</div><!--End of Section -->