<div class="row gallery -main flex-row">

	
		<div class="col-xs-12 "></div>
	
		<div class="col-xs-12"></div>
	

	
		<div class="col-xs-12 navi-container">
			<app-navi></app-navi>
		</div>
	

	
		<div class="col-xs-12 section-title">
			<h1 >Brands</h1>
		</div>
	

	
			<div class="col-xs-12 logo-container">
					<img  class="img-responsive " src="../../assets/imgs/backgrounds/brands.jpg" alt="Kreis Industries">
				</div>
	

	
			<div class="col-xs-12 footer-container">
				<footer></footer>
			</div>	
	

</div>
