<div class="row brands -main flex-row"><!-- Start of section -->

	<!-- Section blur-->
		<div class="col-xs-12 "> 
 			<div class="darken blur-wrap">
				<img class="image-responsive blur-img blur " src="../../assets/imgs/backgrounds/brands-middle.jpg" alt="" >
			</div>
		</div>
	<!-- / Section blur -->

	<!--Start of navigation component -->
		<div class="col-xs-12 navi-container">
			<app-navi></app-navi>
		</div>
	<!-- End of navigation component-->

	<!-- Section pattern -->
		<div class="col-xs-12"> 			
				<div class="lines-container">
					<img class="brand-lines" src="../../assets/imgs/backgrounds/linespatterns/brands_lines.png" alt="services_lines.png">
				</div>
		</div>
	<!-- / Section pattern -->

	<!-- Section title -->
		<div class="col-xs-12 section-title">
			<div class="kreis-logo-sm"><!-- Small logo gray -->
 				<img class="image-responsive kreis-logo-small" src="../../assets/imgs/iconos-logos/Kreis-Logo-White.png" alt="">
 			</div>
 			<h1 >Brands</h1>
		</div>
	<!-- / Section title -->

	<!-- Section logo -->
			<div class="col-xs-12 logo-container">
					<img  class="img-responsive kreis-logo" src="../../assets/imgs/iconos-logos/Kreis-icon-full-color-large-upper-left.png" alt="Kreis Industries">
				</div>
	<!-- / Section logo -->

	<!-- Section footer -->
			<div class="col-xs-12 footer-container">
				<footer></footer>
			</div>	
	<!-- / Section footer -->

</div><!--End of Section -->